header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
  width: 100%;
  min-height: 160px;
}

header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

header > div > * {
  margin-left: 0.5em;
}
